@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --location-bg: #e4e3e3 ;
    --scd-bg: #f3f3f3 ;
    --dark-bg: #333232;
    --shadow-light: lightgrey;
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --hover-fonctionnement: #f1eeff;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 95%;
}

header {
    text-align: center;
    padding: 10px;
    position: relative;
}

.header_logo {
    width: 50vw;
}

.title {
    font-family: 'Shrikhand', cursive;
}

h1,
h2 {
    font-size: 1.6em;
}

.btn {
    border-radius: 50px;
    background: linear-gradient(var(--secondary-color), var(--primary-color));
    color: white;
    border: none;
    padding: 15px;
    margin: 10px 0;
    font-size: initial;
}

.footer {
    background: var(--dark-bg);
    color: white;
    padding: 5px 25px;
}

.footer h3 {
    margin: 1em 0;
    font-weight: initial;
}

.footer p {
    margin: 0 0 0.5em 0;
}

.footer i {
    padding: 0 8px 0 0;
}

/* Pages menu */
