header i {
    position : absolute;
    top: 35%;
    left: 5%;
    font-size: 20px;
    color: black;
}

.main_menu {
    margin-bottom: -10px;
}

.main_menu img {
    width: 100%;
    object-fit: cover;
    height: 270px;
}


.main_menu section {
    background-color: white;
    padding: 10px 15px;
    position: relative;
    top: -50px;
    border-radius: 45px;
}

.main_menu section  {
    position: relative;
}

.main_menu h1 {
    font-size: 1.8em;
    margin: 0.9em 0;
}

.main_menu h2 {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: initial;
    width: 40px;
    padding: 1px 0 3px;
    border-bottom: 3px solid var(--tertiary-color);
}

.main_menu .menu_content {
    box-shadow: 0px 0px 50px 10px var(--shadow-light);
    margin: 0 0 11px 0;
    border-radius: 15px;
    animation-duration: 4s;
    animation-name: apparition;
    display: flex;
}

@keyframes apparition {
    from {
        opacity: 0%;
        margin-top: 25px;
    }
    to {
        opacity: 100%;
        margin-top: 0;
    }
}

.main_menu .menu_content:last-of-type {
    margin-bottom: 0;
}

.main_menu .menu_content .menu_container {
    padding: 11px;
}

.main_menu .menu_content .menu_content_title {
    font-weight: bold;
    font-size: 1.2em;
}

.main_menu .menu_content div:first-of-type {
    width: 100%;
}

.main_menu .menu_content div div {
    display: flex;
    justify-content: space-between;
}

.main_menu .menu_content p {
    margin: 3px 0 0 0;
}

.main_menu .menu_content .menu_content_price {
    font-weight: bold;
}

.main_menu .menu_content .bloc_circle {
    /* padding: 11px 20px; */
    background: var(--tertiary-color);
    font-size: 25px;
    color: white;
    border-radius: 0 15px 15px 0;
    text-align: center;
    overflow: hidden;
}

.main_menu .menu_content .bloc_circle i {
    background-color: white;
    color: var(--tertiary-color);
    border-radius: 50%;
    margin-top: 20px;
    visibility: hidden;
}

.main_menu .menu_content .bloc_circle {
    display: block;
    width: 0;
}

.main_menu .menu_content:hover {
    cursor: pointer;
}

.main_menu .menu_content:hover .bloc_circle {
    animation-duration: 1s;
    animation-name: validation-apparition-bloc;
    animation-fill-mode: both;
}

.main_menu .menu_content:hover .bloc_circle i {
    animation-duration: 1s;
    animation-name: validation-apparition-i;
    animation-fill-mode: both;
}


@keyframes validation-apparition-bloc {
    from {
        width: 0;
    }
    to {
        width: 15%;
    }
}

@keyframes validation-apparition-i {
    from {
        visibility: hidden;
        transform: rotate(180deg);
    }
    to {
        visibility: visible;
        transform: rotate(360deg);
    }
} 



.main_menu .plat_title {
    margin: 45px 30px 15px 30px;
}

.main_menu .dessert_title {
    margin-top: 40px;
}

.main_menu .bloc_btn_menu {
    text-align: center;
}

.main_menu .btn_menu {
    width: 200px;
    margin: 30px 0 0 0;
}

.main_menu .btn_menu:hover {
    opacity: 70%;
}

.main_menu .icon_heart {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 25px;
}

.footer_menu {
    padding-bottom: 25px;
}

