header i {
    position : absolute;
    top: 35%;
    left: 5%;
    font-size: 20px;
}

.main_menu img {
    width: 100%;
}

.main_menu section {
    background-color: white;
    padding: 10px 15px;
    position: relative;
    top: -50px;
    border-radius: 45px;
}

.main_menu h1 {
    font-size: 1.8em;
}