/* Accueil */
    /* Encart location */
.location {
    background: var(--location-bg);
    text-align: center;
    padding: 1px 0;
    box-shadow: 0px -2px 0px 0px var(--shadow-light);
}

.location .fa-location-dot {
    padding-right: 5px;
}

    /* Encart presentation & h1 & btn*/
.presentation {
    height: 250px;
    padding: 20px 0;
    margin: auto;
    text-align: center;
    background: var(--scd-bg);
}

    /* Sections */
main section {
    margin: 45px 0 65px;
}

main section > div {
    margin: 0 25px;
}

    /* Encart fonctionnement */
.fonctionnement div div {
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px  var(--shadow-light);
    padding: 10px;
    margin-top: 30px;
    position: relative;
    background: var(--scd-bg);
}

.fonctionnement p {
    font-weight: bold;
    padding-left: 20px;
}

.fonctionnement span {
    background: var(--primary-color);
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-weight: normal;
    position: absolute;
    top: 30%;
    left: -3%;

}

.fonctionnement i {
    color: grey;
    font-size: 1.2em;
    padding: 0 15px 0 10px;
}

.fonctionnement div div:hover i {
    color: var(--primary-color);
}

.fonctionnement div div:hover {
    background: var(--hover-fonctionnement);
    cursor: pointer;
}

    /* Section Restaurants */
.restaurants {
    background: var(--scd-bg);    
    padding: 30px 0 50px;
    margin-bottom: 0;
}

.restaurants .link_contenair {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    position: relative;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px 0px  var(--shadow-light);
}

.restaurants .link_contenair a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.restaurants a div {
    width: 100%; 
    height: 175px;
}

.restaurants img {
    width: 100%;      
    height: 100%;
    object-fit: cover;
}

.restaurants .new_span {
    background: var(--tertiary-color);
    position: absolute;
    padding: 5px;
    top: 5%;
    right: 3%;
    border-radius: 2px;
}

.restaurants .p_heart {
    position: absolute;   
    right: 7%;
    top: 85%;
    font-size: 25px; 
}
.fa-solid {
    display: none;
}

.restaurants .p_heart:hover .fa-regular {
    display: none;
    transition-duration: 2s;
}

.restaurants .p_heart:hover .fa-solid {
    display: block;
    transition-duration: 2s;
}


.fa-heart {
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid linear-gradient(var(--primary-color), var(--secondary-color)) ;
}


/*     -webkit-background-clip: text; */


.restaurants p {
    margin-top: -15px;
    margin-left: 10px;
    font-size: 1.1em;
}

.restaurants .restaurant_name {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 12px;
}

